* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {

    .header {
        width: 100%;
        background-color: #292627;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .main_header_logo {
            width: 150px;
            height: 80px;
            object-fit: contain;
        }

        .links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 40%;

            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 20px;
                font-family: "Poppins", sans-serif;
                font-weight: bolder;
            }
        }

        .header_icons {
            img {
                width: 33px;
                height: 30px;
                object-fit: contain;
                margin: 0 3px;
            }
        }
    }

    .mb_header {
        display: none;
        width: 100%;
        height: 90px;
        justify-content: space-around;
        align-items: center;
        margin: 0 0 3px 0;
        background-color: white;


        .menu {
            display: flex;
            justify-content: center;
            width: 19%;

            img {
                font-size: 30px;
                margin-left: 20px;
                width: 30px;
                height: 30px;
                object-fit: contain;
                margin-right: 15px;
            }
        }

        .logo_mb {
            display: flex;
            justify-content: center;
            width: 40%;

            img {
                width: 80px;
                height: 140px;
                object-fit: contain;
            }
        }

        .mb_else_icons {
            display: flex;
            justify-content: center;
            width: 20%;

            img:nth-child(1) {
                font-size: 30px;
                margin-left: 20px;
                width: 30px;
                height: 30px;
                object-fit: contain;
                margin-right: 10px;
            }

            .basket_box {
                width: 40px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;


                .show_product_card {
                    display: flex;
                    justify-content: center;
                    font-size: 34px;
                    margin-left: 3px;
                    text-align: end;
                    color: #474747;
                }

                .productNo {
                    position: absolute;
                    top: -12px;
                    right: 3px;
                    font-size: 19px;
                }
            }
        }
    }

    .search {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.692);
        display: none;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        overflow-y: hidden;
        overflow-x: hidden;

        .close_box {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;

            i {
                font-size: 25px;
                text-align: end;
                margin: 8px;
            }
        }

        .search_box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px 0;

            .search_inp {
                width: 40%;
                height: 35px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                border: none;
                outline: none;
                padding-left: 10px;
            }

            .search_button {
                width: 60px;
                height: 37px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: #607d8b;
                color: white;
                border: none;
                outline: none;
            }
        }

        .search_results {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 5px; // Ürünler arasında boşluk
            margin-top: 10px; // Arama sonuçları için üst boşluk
            overflow-y: auto; // Dikey kaydırma alanı
            border-radius: 8px; // Köşe yuvarlama
            padding: 10px; // İç boşluk eklemek için
            width: 100%;
            color: black;


            .volume-select {
                margin: 0 13px;
                color: black;
                outline: none;
                border: none;
                background-color: #ede3da;


                select.volume-options {
                    display: flex;
                    padding: 3px; // İç boşluk
                    background-color: #fff; // Arka plan rengi
                    font-size: 15px; // Yazı boyutu
                    color: #292627; // Yazı rengi
                    cursor: pointer; // İmleci işaretçi yap
                    font-weight: 500; // Yazı kalınlığı
                    width: 100%;
                    outline: none;
                    border: none;
                    -webkit-appearance: flex;
                    -moz-appearance: flex;
                    appearance: flex;
                    background: transparent;
                    padding: 10px;

                    .volume-options::-ms-expand {
                        display: flex;
                        /* Internet Explorer için default açılır menü */
                    }

                    &:focus {
                        outline: none; // Varsayılan odak çerçevesini kaldır
                        border-color: #ecc14d; // Odaklandığında sınır rengi değişimi
                        background-color: #f7f7f7; // Arka plan rengi değişimi
                        border: none;
                    }

                    option {
                        padding: 10px; // Seçenekler için iç boşluk
                        background-color: #292627;
                        color: white; // Yazı rengi
                        border: none; // Kenar yok
                        width: 100%;
                        font-weight: 600;
                        outline: none;
                        border: none;
                    }

                    option:hover {
                        background-color: #f2f2f2; // Seçenek üzerine gelindiğinde arka plan rengi
                    }
                }
            }

            .product-result {
                display: flex; // Yatay hizalama
                align-items: center; // Dikey hizalama
                justify-content: start;
                height: 80px;
                padding: 5px;
                border: 1px solid #e0e0e0; // Çerçeve
                border-radius: 8px; // Köşe yuvarlama
                background-color: #ffffff; // Arka plan rengi
                transition: box-shadow 0.3s ease, transform 0.2s ease; // Geçiş efektleri
                width: 100%;
                color: black;

                &:hover {
                    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // Hover etkisi
                    transform: translateY(-2px); // Hafif yukarı kaydırma efekti
                }

                .product-link {
                    display: flex; // İçerikleri yan yana yerleştir
                    text-decoration: none; // Alt çizgiyi kaldır
                    color: inherit; // Renk mirasını koru
                    justify-content: space-between;
                    align-items: center;

                    .product-image {
                        max-width: 70px; // Resim boyutu
                        height: auto; // Yükseklik otomatik
                        border-radius: 5px; // Köşe yuvarlama
                        margin-right: 15px; // Sağ boşluk
                        object-fit: cover; // Resim kaplama
                    }

                    .product-details {
                        display: flex;
                        justify-content: start;
                        width: 100%;

                        .product-name {
                            font-size: 1em; // Başlık boyutu
                            margin-right: 15px; // Varsayılan margin'i kaldır
                            font-weight: bold; // Kalın yazı tipi
                            color: #333; // Başlık rengi
                            text-align: start;
                            margin-right: 5px;
                        }

                        .product-price {
                            display: none;
                        }
                    }
                }
            }

            i {
                margin: 0 5px;
                color: #edbe63;
                padding: 5px 4px;
            }

            p {
                color: #777; // Yazı rengi
                text-align: center; // Ortala
                margin: 10px 0; // Üst ve alt boşluk
            }
        }
    }

    .slider_box {
        width: 100%;
        height: 350px;
        position: relative;

        .slider_img {
            width: 100%;
            height: 100%;
        }

        .gender_category1 {
            width: 28%;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            position: absolute;
            bottom: 80px;
            left: 10px;

            button {
                width: auto;
                background-color: white;
                outline: none;
                border: none;
                margin: 5px;
                padding: 4px 20px;
                font-size: 20px;
                font-family: "Poppins", sans-serif;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin: 0 5px;
                }
            }
        }

        .gender_category2 {
            width: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            position: absolute;
            bottom: 10px;
            left: 10px;

            button {
                width: auto;
                background-color: white;
                outline: none;
                border: none;
                margin: 5px;
                padding: 4px 20px;
                font-size: 20px;
                font-family: "Poppins", sans-serif;
                font-weight: bolder;
            }
        }
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .buttons_category {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;

            button {
                background-color: #ede3da;
                color: #575656;
                padding: 9px 16px;
                text-align: center;
                font-size: 16px;
                margin: 10px 10px;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;
                border: none;
                outline: none;
                border-radius: 4px;

            }
        }

        .product_container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .product_box {
                border-radius: 8px;
                padding: 20px;
                margin: 20px;
                flex: 1 1 300px;
                max-width: 350px;
                text-align: center;
                transition: transform 0.3s, box-shadow 0.3s;
                flex-wrap: wrap;

                .open_detailsPage {
                    text-decoration: none;
                }

                .img_container {
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                    background-color: #faefe9;
                    overflow: hidden;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: contain;
                        object-fit: contain;
                        transition: transform 0.3s;
                    }

                    .discount {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        background-color: #ff9f00;
                        color: white;
                        font-size: 22px;
                        padding: 5px 7px;
                        display: none;
                    }

                    .newPro {
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        background-color: #ff9f00;
                        color: white;
                        font-size: 22px;
                        padding: 5px 7px;
                        display: none;
                        z-index: 1;
                    }
                }

                .name_container {

                    h2 {
                        font-size: 1.20em;
                        margin: 5px 0;
                        color: #333;
                        text-transform: uppercase;
                        text-align: start;
                        padding-left: 5px;
                    }
                }

                .product_footer {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 0;
                    background-color: white;
                    margin: 3px 0;



                    .fa-solid {
                        font-size: 16px;
                        width: 100%;
                        background-color: #333333;
                        padding: 12px 0;
                        cursor: pointer;
                    }

                    .volume-select {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 10px 0;
                        position: relative;
                        background-color: #ede3da;
                        width: 100%;

                        select.volume-options {
                            padding: 10px 20px;
                            background-color: #ede3da;
                            font-size: 1em;
                            color: #333;
                            cursor: pointer;
                            font-weight: 400;
                            outline: none;
                            border: none;
                            appearance: none;
                            width: 100%;
                            background: url('/img/ox.png') no-repeat calc(100% - 10px) center; // İkonun yerleştirileceği pozisyon
                            background-size: 12px;
                            transition: border-color 0.3s, background-color 0.3s;

                            &:focus {
                                outline: none;
                                border: none;
                            }

                            &::-ms-expand {
                                display: none;
                            }

                            option {
                                padding: 10px;
                                background-color: #fff;
                                color: #333;
                                border: none;

                                &:hover {
                                    background-color: #f2f2f2;
                                }
                            }
                        }
                    }
                }
            }

            .notFound {
                width:200px;
                height: 200px;
                object-fit: contain;
            }
        }

        #loadMoreBtn {
            margin-bottom: 30px;
            color: black;
            font-weight: 5400;
            outline: none;
            border: 0.5px solid grey;
            cursor: pointer;
            font-size: 16px;
            background-color: white;
            padding: 4px 7px;
        }

    }

    .product_card {
        width: 92%;
        max-width: 400px;
        height: 70vh;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        right: 1rem;
        top: 2rem;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        padding: 20px;
        z-index: 999;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }

        h3 {
            margin-bottom: 20px;
            font-size: 2.5rem;
            color: #343a40;
            text-align: center;
            font-weight: 600;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }

        #cartItems {
            flex: 1;
            overflow-y: auto;
            max-height: 60vh;
            border: 1px solid #e0e0e0;
            border-radius: 12px;
            padding: 15px;
            margin-bottom: 20px;
            width: 100%;
            background-color: #f7f7f7;

            .product_item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 1px solid #e0e0e0;
                border-radius: 8px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: #ffffff;
                transition: background 0.2s;

                &:hover {
                    background-color: #eeeeee;
                }

                img {
                    width: 100%;
                    max-width: 60px;
                    height: auto;
                    border-radius: 10px;
                    object-fit: contain;
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    margin: 3px 0;

                    button {
                        cursor: pointer;
                        background-color: black;
                        border: none;
                        color: white;
                        padding: 4px 10px;
                        border-radius: 6px;
                        transition: background 0.2s;

                        &:hover {
                            background: #0056b3;
                        }
                    }

                    input {
                        width: 4rem;
                        text-align: center;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        margin: 0 5px;
                        padding: 5px;
                    }
                }
            }
        }

        .total {
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 1.5rem;
            color: #d9534f;
            width: 100%;
            text-align: left;
        }

        .card_buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            .share_whatsap_pro {
                background-color: forestgreen;
                color: white;
                margin: 5px 0 0 5px;
            }

            button {
                background: #dc3545;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                margin: 5px 5px 0 0;

                transition: background 0.2s, transform 0.1s;

                &:hover {
                    background: #c82333;
                    transform: scale(1.05);
                }
            }

        }
    }

}